services:
  ollama:
    volumes:
      # Map a specific local folder to the container to manage custom models
      - ./local_models:/root/.ollama/models 
      - ollama:/root/.ollama
    container_name: ollama
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}

  open-webui:
    build:
      context: ./ # Ensure this points to your UI source code
      dockerfile: Dockerfile
    # Tagging it locally prevents accidental pulls from overriding your build
    image: local-open-webui:custom 
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  ollama: {}
  open-webui: {}
